<p id="notice"><%= notice %></p>

<header>
  <h1><%= @game.player_1_name %> Vs. <%= @game.player_2_name %></h1>
</header>


<section>
  <% (1..9).each do |ball_number| %>
    <%= link_to ball_number, game_game_events_path(@game, ball_number: ball_number), method: :post, remote: true %>
  <% end %>
</section>

<section>
  <ul id="events">
    <li>Début de la partie</li>
    <li><%= @game.player_1_name %> casse ...</li>
  </ul>
</section>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
