<div class="game" data-game-id="<%= @game.id %>">
  <section class="cur-player-selector">
    <%= radio_button_tag :current_player, @game.player_1_name, false, id: :player_1, class: "cur-player-selector__input" %>
    <%= label_tag :player_1, @game.player_1_name, class: "cur-player-selector__label" %>
    <div class="cur-player-selector__vs">Vs.</div>
    <%= radio_button_tag :current_player, @game.player_2_name, false, id: :player_2, class: "cur-player-selector__input" %>
    <%= label_tag :player_2, @game.player_2_name, class: "cur-player-selector__label" %>
  </section>

  <section class="balls-selector">
    <% (1..15).each do |ball_number| %>
      <%= link_to ball_number, "#", class: "ball ball--#{ball_number}" %>
    <% end %>
  </section>

  <section class="supporter-bar">
    <a href="#" class="reactor">👏</a>
    <a href="#" class="reactor">🤭</a>
    <a href="#" class="reactor">🔥</a>
    <a href="#" class="reactor">😮</a>
    <a href="#" class="reactor">👽</a>
    <a href="#" class="reactor">💩</a>
    <a href="#" class="reactor">🧠</a>
    <a href="#" class="reactor">🥊</a>
    <a href="#" class="reactor">🥃</a>
    <a href="#" class="reactor">🎳</a>
    <a href="#" class="reactor">🌝</a>
    <a href="#" class="reactor">🐐</a>
    <a href="#" class="reactor">😂</a>
    <a href="#" class="reactor">🍺</a>
  </section>

  <section class="live-feed">
    <ul id="events" class="events"></ul>
  </section>
</div>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
