<p id="notice"><%= notice %></p>

<header>
  <h1><%= @game.player_1_name %> Vs. <%= @game.player_2_name %></h1>
</header>

<section>
  <ul id="events">
    <li>Début de la partie</li>
    <li><%= @game.player_1_name %> casse ...</li>
  </ul>
</section>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
